* {
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

body,
footer {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/nice-cartoon-animation-of-colorful-farm-background-seamless-loop-with-space-for-your-text-or-logo-wheat-filed-over-sunburst-full-hd-and-4k-illustration-of-a-beautiful-autumn-scene-with-wheat-fields_s8m2mirr_thumbnail-full01.png") no-repeat;
    background-size: 100%;
}
.selection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgb(18, 82, 186);
    padding: 10px;
    width: 50%;
    justify-content: center;
    margin: auto;

}

.selection > div {

    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: white;
}
p {
    cursor: pointer;
}






